
<section class="grid grid-5col">
  {{!-- Action Tab Navigation --}}
  <nav class="action-tabs tabs vertical" data-group="secondary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="weapons">Weapons</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="others">Other</a>
  </nav>

  {{!-- Actions Body --}}
  <section class="action-body grid-span-4">

    {{!-- Weapons Tab --}}
    <div class="tab action weapons" data-group="secondary" data-tab="weapons">
      {{> "systems/mytt/templates/actor/character-parts/weapons-actions.hbs"}}
    </div>

    {{!-- Spells Tab --}}
    <div class="tab action spells" data-group="secondary" data-tab="spells">
      SPELLS GO HERE
    </div>

    {{!-- Skills Tab --}}
    <div class="tab action skills" data-group="secondary" data-tab="skills">
      SKILLS GO HERE
    </div>

    <div class="tab action others" data-group="secondary" data-tab="others">
      OTHERS GO HERE (like resting)
    </div>

  </section>
</section>


